In [2]:
SELECT ProductID, Name, Color, ListPrice, StandardCost, 
       Class = CASE 
                  WHEN Class = 'H' THEN 'High'
                  WHEN Class = 'M' THEN 'Medium'
                  WHEN Class = 'L' THEN 'Low'
               END,
       ProductLine = CASE 
                        WHEN ProductLine = 'R' THEN 'Road'
                        WHEN ProductLine = 'M' THEN 'Mountain'
                        WHEN ProductLine = 'T' THEN 'Touring'
                        WHEN ProductLine = 'S' THEN 'Standard'
                     END
FROM AdventureWorks2014.dbo.Product
ORDER BY Name;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'AdventureWorks2014.dbo.Product'.